@if (isAuthenticated() && assistantPopoutMode) {
  @if (aiAssistantAvailable()) {
    <score-ai-chat-panel></score-ai-chat-panel>
  }
} @else {
  @if (isAuthenticated()) {
    <score-navbar></score-navbar>
  }

  <div class="body">
    <section class="container-fluid p-0">
      <router-outlet></router-outlet>
    </section>
  </div>

  @if (isAuthenticated()) {
    <score-footer></score-footer>
  }

  @if (isAuthenticated() && aiAssistantAvailable()) {
    <score-ai-chat-panel></score-ai-chat-panel>
  }
}
